{% extends "base.html" %}
{% block header %}
    <link href="/static/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% set id = request.args.get('id') %}
    <div id="page-wrapper"
         style="margin-left:auto;margin-right:auto;width: auto; height: 700px;">

        <form action="/task_detail" method="post">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-comments"></i>
                        <h4>任务详情</h4>
                    </div>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a>
                    </div>
                </div>
                <div class="portlet-body" style="height: 700px;">
                    <div style="text-align:center;margin:0 auto;width: 1200px;">
                        <div style="width: 700px;float:left">

                            <input type="hidden" name="id" value={{ id }}>

                            <div>
                                <label style="margin-top: 15px">任务名称
                                    <input name="tname" class="form-control" value="{{ data[0].name }}"
                                           style="width: 450px;"></label>
                            </div>
                            <label>状态:</label>
                            <div class="m-btn">
                                <label>
                                    <input class="m-btn" type="radio" name="status" id="optionsRadios1" value="1"
                                           {% if data[0].status =="开启" %}checked="chected" {% endif %}>开启
                                </label>
                                <label>
                                    <input class="m-btn" type="radio" name="status" id="optionsRadios2" value="0"
                                           {% if data[0].status =="关闭" %}checked="chected" {% endif %}>关闭
                                </label>
                            </div>
                            <div class="form-group">
                                <label>执行路径
                                    <input name="command" class="form-control" value="{{ data[0].command }}"
                                           style="width: 450px"></label>
                            </div>
                            <div class="form-group">
                                <span>
                                    <label>分<input name="cron1" class="form-control" style="width:80px"
                                                   value="{{ data[0].cron[0] }}"></label>
                                </span>
                                <span style="margin-left: 10px;">
                                    <label>时<input name="cron2" class="form-control" style="width:80px"
                                                   value="{{ data[0].cron[1] }}"></label>
                                </span>
                                <span style="margin-left: 10px;">
                                    <label>天<input name="cron3" class="form-control" style="width:80px"
                                                   value="{{ data[0].cron[2] }}"></label>
                                </span>
                                <span style="margin-left: 10px;">
                                    <label>月<input name="cron4" class="form-control" style="width:80px"
                                                   value="{{ data[0].cron[3] }}"></label>
                                </span>
                                <span style="margin-left: 10px;">
                                    <label>周<input name="cron5" class="form-control" style="width:80px"
                                                   value="{{ data[0].cron[4] }}"></label>
                                </span>
                            </div>
                            <div>
                                <label>手机号码<input type="text" class="form-control" id="photonum" name="photonum"
                                                  style="width: 450px;" value="{{ data[0].photonum }}"></label>
                            </div>
                            <div>
                                <label>邮箱<input type="text" class="form-control" id="email" name="email"
                                                style="width: 450px"
                                                value="{{ data[0].email }}"></label>
                            </div>
                            <div class="form-group">
                                <label>错误关键字<input type="text" class="form-control" id="errerkey" name="errerkey"
                                                   style="width: 450px;" value="{{ data[0].errerkey }}"></label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default"
                                        style="height:45px;float:right; background-color: #4b8df8">
                                    Update
                                </button>
                            </div>
                        </div>
                        <div style="width: 300px;float:left">
                            <div class="form-group" style="height: 60px;width: auto;">
                                <div class="form-group" style="float: right;">
                                    <label for="disabledSelect">运行时间<input type="text" class="form-control"
                                                                           id="photonum"
                                                                           placeholder="{{ data[0].runtime }}"
                                                                           disabled=""
                                                                           style="width:176px"></label>
                                </div>
                                <div class="form-group" style="float: right">
                                    <label for="disabledSelect">最后执行开始时间</label>
                                    <input class="form-control" id="lastbegin" type="text"
                                           placeholder="{{ data[0].lastbegin }}"
                                           disabled="" style="width:176px">
                                </div>
                                <div class="form-group" style="float: right">
                                    <label for="disabledSelect">最后执行结束时间</label>
                                    <input class="form-control" id="lastend" type="text"
                                           placeholder="{{ data[0].lastend }}"
                                           disabled=""
                                           style="width:176px">
                                </div>
                                <div class="form-group" style="float: right">
                                    <label for="disabledSelect">运行结果</label>
                                    <input class="form-control" id="lastresult" type="text"
                                           placeholder="{{ data[0].lastresult }}"
                                           disabled="" style="width:176px">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}